

@media screen and (max-width:700px){
   header nav a{
      display: none;
   }
   button{
      margin-top: 10px;
   }
}

@media screen and (max-width:1000px){
   .descricao{
      width: 70%;
   }
}